table{
    border: 2px solid black;
    position: relative;
    cursor: pointer;
    border-collapse: collapse;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(57, 55, 53);
  
}
th,td{
    border: 1px solid rgb(13, 13, 13);
    width: 200px;
    box-shadow: 0px 0px 10px rgb(15, 14, 14),0px 0px 10px rgb(15, 14, 14);
    padding: 8px;
}
thead th{
    height: 40px;
}
#d2, #d3{
    text-align: right;
   
}
table{
    display: none;
}
.tela-principal{
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 10px rgb(22, 22, 22),0px 0px 10px rgb(21, 21, 21);
    background-color: rgb(49, 48, 48);
    display: block;
    margin: auto;
    width: 300px;
    height: 320px;
    border-radius: 10px;
    margin-top: 40px;
    color:  white;
}
.tela{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.tela-principal h1{
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    font-variant: small-caps;
}
.tela label, input, button{
    margin-right: 20px;
    margin-top: 10px;

}
input{
    width: 100px;
    border: none;
}
button{
    background-color:  rgb(49, 48, 48);
    height: 30px;
    border: 1px solid rgb(156, 154, 154);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgb(152, 151, 151),  0px 0px 4px rgb(173, 171, 171);
}
table{
    color: rgb(188, 183, 183);
    padding: 8px;
    border: 1px solid white;
    width: 800px;
    box-shadow: 0px 0px 10px rgb(15, 14, 14),0px 0px 10px rgb(15, 14, 14);
   

}
#d1, #d2, #d3, #d4{
    background-color: rgb(29, 134, 141);
    color: rgb(204, 242, 13);
}
.tela_dados{
    color: rgb(167, 23, 117);
    text-shadow: 0px 0px 10px rgb(32, 31, 31);
}
tfoot{
    color: rgb(227, 20, 154);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
tfoot #d12{
    background-color: rgb(57, 172, 70);
    text-align: right;
    color: rgb(220, 255, 43);
    border-radius: 8px;
}
thead > .tela_dados >th{
    position: sticky;
    top: 0;
   
   
   
    padding: 8px;
    background-color: rgba(47, 46, 46, 0.544);
   

}
 .tela_dados {
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(28, 27, 27),0px 0px 10px rgb(22, 21, 21);
}